body {
  margin: 0;
  font-family: Calibri;
}

ul { margin: 0; }

ul li {
  list-style-type: circle;
  line-height: 1.2rem;
}

a { text-decoration: none; }

.container {
  width: 900px;
  padding-top: 12px;
  margin: 0 auto;
}

h1 { margin: 0; }

.header {
  padding: 12px;
  border-bottom: 1px dashed #dcdcdc;
}

.cv-container { display: flex; }

.cv-container a { word-break: break-all; }

.cv-common {
  width: 30%;
  border-right: 1px dashed #dcdcdc;
}

.cv-specific { width: 70%; }

.photo-container { padding-bottom: 24px; }

.photo {
  width: 98%;
  height: auto;
  border: 3px solid #030852;
  border-radius: 200px;
}

.cv-block { padding: 12px; }

.cv-title h3 { margin: 0; }

.cv-title {
  padding: 2px 12px;
  border: 3px solid #030852;
  border-radius: 10px;
}

.cv-content { padding: 12px 12px; }

.experience ul {
  margin-top: 0;
  margin-bottom: 0;
}

.company {
  display: flex;
  flex-wrap: wrap;
}

.company-info { width: 70%; }

.company-period { width: 30%; }

.company-period,
.company-info {
  padding-bottom: 32px;
}

footer { border-top: 1px dashed #dcdcdc; }

.logo-container {
  display: flex;
  align-items: stretch;
  padding: 12px;
  border-bottom: 1px dashed #dcdcdc;
}

.logo-container img { height: 100%; }

.logo-item {
  flex: 0.1 0 5%;
  text-align: right;
}

.meta-info { text-align: center; }
